{% load staticfiles %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Shared Service Web Center</title>
    <!-- Bootstrap core CSS -->
    {% block css %}
        
    {% endblock %}
    <link href="{% static 'package/build/build.css' %}  " rel="stylesheet">
    <link href="{% static 'timeline.css' %}" rel="stylesheet"> 
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">

  </head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">AutoCode<small>   Eng. de Gestão</small></h4>
              <p class="text-white">Aplicação destinada fornecer fluxos de aprovação para  processos da Sig Combibloc</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">{{request.user.username|title}}</h4>
              <ul class="list-unstyled">
                <!--<li><a href="/admin" class="text-white">Administração</a></li>-->
                <li><a href="/decide" class="text-white">Meu Perfil</a></li>
                <li><a href="/conf" class="text-white">Configurações</a></li>
                <li><a href="/logout" class="text-white">LogOut</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <img src="{% static 'SIG_1.png' %}" width="40" style="padding-right: 10px">
            <strong>PortalSscSig</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <main role="main">
        <div class="container">
          <h1 class="jumbotron-heading">{% block T1 %}{% endblock %}</h1>
          <p class="lead text-muted">{% block T2 %}{% endblock %}</p>
        </div>

        <div class="container">
            <hr /> 
{% block content %}

{% endblock %}
<hr />   
</div>
    </main>
     <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Voltar ao topo</a>
        </p>
        <p>Dúvidas relacionadas aos processos e aos fluxos associados acesse a documentação abaixo</p>
        <p>Documentação Shared Service Web Center : <a href="../../">Documentação</a> Acesse nosso site <a href="../../getting-started/">AutoCode</a>.</p>
      </div>
    </footer>

    
 
   
   
   
    <script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/holder.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>



    {% block script %}{% endblock %}
  </body>
</html>
