{% extends 'base.html' %}
{% block css %}{% endblock %}
{% block T1 %}Módulos{% endblock %}
{% block T2 %}Acesse os módulos disponíveis para começar!{% endblock %}
{% block script %}{% endblock %}
{% block content %}
          <div class="row">
            <div class="col-md-4">
              <a href="\hse"><div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=1b446d&fg=eceeef&text=Hse" alt="Módulo Hse">
                <div class="card-body">
                  <p class="card-text" style="text-align: justify">Gestão dos processos de segurança. Destina-se exclusivamente á gestão da documentação de empresa tercerizada e seus colaboradores. </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Running</small>
                  </div>
                </div>
              </div>
            </div></a>
            <div class="col-md-4">
              <a href="#"><div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=1b446d&fg=eceeef&text=PrePrint" alt="Módulo Hse">
                <div class="card-body">
                  <p class="card-text" style="text-align: justify">A ser implementado. A ser implementado. A ser implementado. A ser implementado. A ser implementado. A ser implementado. A ser implementado. </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Stopped</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <a href="#"><div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=1b446d&fg=eceeef&text=Qualidade" alt="Módulo Hse">
                <div class="card-body">
                  <p class="card-text" style="text-align: justify">A ser implementado. A ser implementado. A ser implementado. A ser implementado. A ser implementado. A ser implementado. A ser implementado. </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Stopped</small>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        
          

  {% endblock %}

