{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}{% endblock %}
{% block T1 %}Novo Colaborador{% endblock %}
{% block T2 %}Gestão e Cadastro de Colaboradores{% endblock %}
{% block script %}{% endblock %}
{% block content %}

        
 

      


          <div class="row">
              <div class="col-md-6">
                <form method="POST" >{% csrf_token %}
 
            
                  <input type="hidden" name="status" value="False">
                  <p><label for="id_nome_funcionario">Nome funcionario:</label> <input class="form-control" type="text" name="nome_funcionario" maxlength="100" required="" id="id_nome_funcionario"></p>
                  <p><label for="id_rg">Rg:</label></p><input class="form-control" type="text" name="rg" maxlength="20" required="" id="id_rg"></p>
                  <p><label for="id_cpf">Cpf:</label> <input class="form-control" type="text" name="cpf" maxlength="20" required="" id="id_cpf"></p>
                  <p><label for="id_funcao">Funcao:</label> <input class="form-control" type="text" name="funcao" maxlength="100" required="" id="id_funcao"></p>
                  <p><label for="id_funcao">Responsável:</label>
                    
                    <select name="resp" class="form-control">
                        {% for el in resp %}
                        <option value="{{el.id}}">{{el.nome_resp}}</option>
                        {% endfor %}
                      </select></p>
                      <button type="submit" class="btn btn-primary">Cadastrar Colaborador</button>
                      </form>
                   </div>
                  
                   {% if form.errors %}
                   <div class="col-md-6" style="text-align: center" id="div1" >
                       
                       <img src="{% static 'SIG_1.png' %}" width="150" height="100" alt="Book" id="book" >
                       <p style="color:red;">Algo saiu errado ! Por favor, tente novamente.</p>
                       
                       <span class="helptext">Obrigatório. 150 caracteres ou menos. Letras, números e @/./+/-/_ apenas.</span>
                       <span class="helptext"<ul><li>Sua senha não pode ser tão parecida com suas outras informações pessoais.</li><li>Sua senha precisa conter pelo menos 8 caracteres.</li><li>Sua senha não pode ser uma senha habitualmente utilizada.</li><li>Sua senha não pode ser inteiramente numérica.</li></ul></span>
                       <span class="helptext">Certifique-se de que as senhas informadas são identicas.</span><br>
                       <span class="helptext">Certifique-se de que não há outro usuário com o mesmo nome.</span>
                   
                       
                   </div>
                   {% else %}
                   <div class="col-md-6" style="text-align: center" id="div1" >
                       <br><br>
                       <img src="{% static 'SIG_1.png' %}" width="300 " height="200" alt="Book" id="book" >
                       
                   
                       
                   </div>
                   {% endif %}    
            
             
            
            </div>

{% endblock %}

